.footer__copyright {
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
    font-family: "Raleway", Arial, sans-serif;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #FECDA7;
    height: 24vw;
}

@media screen and (max-width:1023px) {
    .footer__copyright {
        font-size: 32px;  
}
}

@media screen and (max-width:767px) {
    .footer__copyright {
        font-size: 24px;  
}
}