.intro__illustration {
  width: 357px;
  height: 357px;
  object-fit: cover;
}
.intro__subtitle {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(254, 213, 181, 1);
  margin: 0;
  padding: 0;
}

.intro__title {
  margin: 35px 0 0;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
}
.intro__titles {
  max-width: 512px;
  align-self: center;
}
.intro {
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 225px);
  margin-left: 70px;
  padding-bottom: 130px;
}


@media screen and (max-width: 1023px) {
  .intro {
    max-width: calc(100% - 150px);
    margin-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1023px) {
  .intro__titles {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .intro__titles {
    max-width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    margin: 35px 0 35px;
    font-size: 26px;
    text-align: center;
  }
}


@media screen and (max-width: 767px) {
  .intro__subtitle {
    text-align: center;
    font-size: 18px;
  }
}

@media screen and (max-width: 1023px) {
  .intro__illustration {
    width: 300px;
    height: 300px;
  }
}